## This script contains the following points:

1. Import libraries and data sets with markdown comments on selected model.
2. Transform data sets into the correct shape to feed to the deep learning model and export. Note: Excel used to complete data cleaning, see markdown comments.
3. Split observations and reshape into X = (22950, 15, 9) and y = (22950, 15), then split data.
4. Create a Keras layered model.
5. Compile and run model with markdown comments on starting and final hyperparameters.
6. Create a confusion matrix of results.
7. Rinse and repeat with a second Keras layered model and confusion matrix.
8. One more time!

### 1. Import libraries and data sets with markdown comments on selected model.

In [1]:
# Import libraries.

import pandas as pd
import numpy as np
import seaborn as sns
import os
import operator
import datetime
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import tensorflow as tf
from numpy import unique
from numpy import reshape
from keras.models import Sequential
from keras.layers import Conv1D, Conv2D, Dense, BatchNormalization, Flatten, MaxPooling1D, Activation, Dropout, Reshape, Permute
from keras.utils import to_categorical

In [2]:
# Establish path.

path = r'/Users/juliareeves/Documents/WorkWorkWork/CareerFoundry/Machine Learning Python 2'
path

'/Users/juliareeves/Documents/WorkWorkWork/CareerFoundry/Machine Learning Python 2'

In [3]:
# Import weather data set.

df_weather = pd.read_csv(os.path.join(path, 'Data Sets', 'Raw Data', 'temperatures_data_set.csv'), index_col = False)
df_weather

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.0180,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.0180,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.0180,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.0180,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.0180,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,20221027,10,1,2.1,0.79,1.0248,1.34,0.22,0,7.7,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22946,20221028,10,6,2.1,0.77,1.0244,1.34,0.22,0,5.4,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22947,20221029,10,4,2.1,0.76,1.0227,1.34,0.22,0,6.1,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22948,20221030,10,5,2.1,0.80,1.0212,1.34,0.22,0,5.8,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22949,20221031,10,5,2.1,0.84,1.0193,1.34,0.22,0,3.2,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5

In [4]:
# Import pleasant weather data set.

df_pw = pd.read_csv(os.path.join(path, 'Data Sets', 'Raw Data', 'pleasant_weather_data_set.csv'), index_col = False)
df_pw

,DATE,BASEL_pleasant_weather,BELGRADE_pleasant_weather,BUDAPEST_pleasant_weather,DEBILT_pleasant_weather,DUSSELDORF_pleasant_weather,HEATHROW_pleasant_weather,KASSEL_pleasant_weather,LJUBLJANA_pleasant_weather,MAASTRICHT_pleasant_weather,MADRID_pleasant_weather,MUNCHENB_pleasant_weather,OSLO_pleasant_weather,SONNBLICK_pleasant_weather,STOCKHOLM_pleasant_weather,VALENTIA_pleasant_weather
0,19600101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,19600102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,19600103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,19600104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,19600105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,20221027,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22946,20221028,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22947,20221029,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22948,20221030,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22949,20221031,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

I selected a CNN model for this data because CNN models work well for numerical data and the guessing whether a city had pleasant or unpleasant weather is a relatively simple binary label.

### 2. Transform data sets into the correct shape to feed to the deep learning model and export.

In [5]:
# Drop DATE and MONTH from df_weather data set.

df_weather1 = df_weather.drop(columns = ["DATE", "MONTH"])
df_weather1

,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,7,2.1,0.85,1.0180,0.32,0.09,0,0.7,6.5,0.8,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,6,2.1,0.84,1.0180,0.36,1.05,0,1.1,6.1,3.3,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,8,2.1,0.90,1.0180,0.18,0.30,0,0.0,8.5,5.1,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,3,2.1,0.92,1.0180,0.58,0.00,0,4.1,6.3,3.8,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,6,2.1,0.95,1.0180,0.65,0.14,0,5.4,3.0,-0.7,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,1,2.1,0.79,1.0248,1.34,0.22,0,7.7,15.9,11.4,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22946,6,2.1,0.77,1.0244,1.34,0.22,0,5.4,16.7,14.3,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22947,4,2.1,0.76,1.0227,1.34,0.22,0,6.1,16.7,13.1,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22948,5,2.1,0.80,1.0212,1.34,0.22,0,5.8,15.4,11.6,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22949,5,2.1,0.84,1.0193,1.34,0.22,0,3.2,13.5,9.9,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5

In [6]:
# Drop DATE from df_pw data set.

df_pw_clean = df_pw.drop(columns = ["DATE"])
df_pw_clean

,BASEL_pleasant_weather,BELGRADE_pleasant_weather,BUDAPEST_pleasant_weather,DEBILT_pleasant_weather,DUSSELDORF_pleasant_weather,HEATHROW_pleasant_weather,KASSEL_pleasant_weather,LJUBLJANA_pleasant_weather,MAASTRICHT_pleasant_weather,MADRID_pleasant_weather,MUNCHENB_pleasant_weather,OSLO_pleasant_weather,SONNBLICK_pleasant_weather,STOCKHOLM_pleasant_weather,VALENTIA_pleasant_weather
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22946,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22947,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22948,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22949,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Microsoft Excel was used to complete the remaining cleaning of the data. Two types of observations that were missing multiple years for most weather stations, "CITY_wind_speed" and "CITY_snow_depth," were removed. Three missing observations for Kassel, Munchen, and Stockholm were filled in, assuming nearby stations have similar weather: "KASSEL_cloud_cover" was created by duplicating nearby "LJUBLJANA_cloud_cover." "MUNCHENB_pressure" was created by duplicating "SONNBLICK_pressure". "STOCKHOLM_humidity" was created by duplicating "OSLO_humidity."

In [7]:
# Import cleaned data set.

df_w_clean = pd.read_csv(os.path.join(path, 'Data Sets', 'Cleaned Data', 'temperatures_data_set_cleaned.csv'), index_col = False)
df_w_clean

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_max,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,0.85,1.0180,0.32,0.09,0.7,6.5,0.8,...,4.9,5,0.88,1.0003,0.45,0.34,4.7,8.5,6.0,10.9
1,19600102,1,6,0.84,1.0180,0.36,1.05,1.1,6.1,3.3,...,5.0,7,0.91,1.0007,0.25,0.84,0.7,8.9,5.6,12.1
2,19600103,1,8,0.90,1.0180,0.18,0.30,0.0,8.5,5.1,...,4.1,7,0.91,1.0096,0.17,0.08,0.1,10.5,8.1,12.9
3,19600104,1,3,0.92,1.0180,0.58,0.00,4.1,6.3,3.8,...,2.3,7,0.86,1.0184,0.13,0.98,0.0,7.4,7.3,10.6
4,19600105,1,6,0.95,1.0180,0.65,0.14,5.4,3.0,-0.7,...,4.3,3,0.80,1.0328,0.46,0.00,5.7,5.7,3.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,20221027,10,1,0.79,1.0248,1.34,0.22,7.7,15.9,11.4,...,14.2,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22946,20221028,10,6,0.77,1.0244,1.34,0.22,5.4,16.7,14.3,...,14.3,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22947,20221029,10,4,0.76,1.0227,1.34,0.22,6.1,16.7,13.1,...,14.4,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22948,20221030,10,5,0.80,1.0212,1.34,0.22,5.8,15.4,11.6,...,12.4,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22949,20221031,10,5,0.84,1.0193,1.34,0.22,3.2,13.5,9.9,...,12.6,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5

In [17]:
# Drop DATE and MONTH from df_w_clean.

df_w_clean = df_w_clean.drop(["DATE","MONTH"], axis=1)
df_w_clean

,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,BASEL_temp_max,BELGRADE_cloud_cover,...,STOCKHOLM_temp_max,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,7,0.85,1.0180,0.32,0.09,0.7,6.5,0.8,10.9,1,...,4.9,5,0.88,1.0003,0.45,0.34,4.7,8.5,6.0,10.9
1,6,0.84,1.0180,0.36,1.05,1.1,6.1,3.3,10.1,6,...,5.0,7,0.91,1.0007,0.25,0.84,0.7,8.9,5.6,12.1
2,8,0.90,1.0180,0.18,0.30,0.0,8.5,5.1,9.9,6,...,4.1,7,0.91,1.0096,0.17,0.08,0.1,10.5,8.1,12.9
3,3,0.92,1.0180,0.58,0.00,4.1,6.3,3.8,10.6,8,...,2.3,7,0.86,1.0184,0.13,0.98,0.0,7.4,7.3,10.6
4,6,0.95,1.0180,0.65,0.14,5.4,3.0,-0.7,6.0,8,...,4.3,3,0.80,1.0328,0.46,0.00,5.7,5.7,3.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,1,0.79,1.0248,1.34,0.22,7.7,15.9,11.4,21.4,2,...,14.2,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22946,6,0.77,1.0244,1.34,0.22,5.4,16.7,14.3,21.9,0,...,14.3,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22947,4,0.76,1.0227,1.34,0.22,6.1,16.7,13.1,22.4,2,...,14.4,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22948,5,0.80,1.0212,1.34,0.22,5.8,15.4,11.6,21.1,1,...,12.4,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5
22949,5,0.84,1.0193,1.34,0.22,3.2,13.5,9.9,19.2,4,...,12.6,5,0.82,1.0142,1.13,0.41,3.4,10.7,7.9,13.5

In [18]:
# Confirm cleaned weather data set shape.

df_w_clean.shape

(22950, 135)

In [19]:
# Confirm cleaned pleasant weather data set shape.

df_pw_clean.shape

(22950, 15)

### 3. Split observations and reshape into X = (22950, 15, 9) and y = (22950, 15), then split data.

In [20]:
# Convert df_w_clean (i.e. observations) to array.

X = df_w_clean.to_numpy()

In [21]:
# Reshape observations.

X = X.reshape(-1,15,9)

In [22]:
# Check observations shape.

X.shape

(22950, 15, 9)

In [23]:
# Convert df_pw_clean (i.e. labels) to array.

y = df_pw_clean.to_numpy()

In [24]:
# Check labels shape.

y.shape

(22950, 15)

In [25]:
# Split data into train set and test set.

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [26]:
# Check training/testing split shapes.

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(16065, 15, 9) (16065, 15)
(6885, 15, 9) (6885, 15)

### 4. Create a Keras layered model.

In [27]:
# Examine X_train.

X_train

array([[[  4.    ,   0.68  ,   1.018 , ...,  14.3   ,  12.6   ,
          17.7   ],
        [  1.    ,   0.65  ,   1.0167, ...,  18.6   ,  12.    ,
          26.4   ],
        [  5.    ,   0.74  ,   1.0164, ...,  16.4   ,  11.3   ,
          23.5   ],
        ...,
        [  7.    ,   0.96  ,   1.0321, ...,   1.1   ,  -1.6   ,
           3.7   ],
        [  7.    ,   0.87  ,   0.9954, ...,  13.4   ,  11.8   ,
          16.1   ],
        [  7.    ,   0.87  ,   1.0181, ...,  14.4   ,  12.3   ,
          16.5   ]],

       [[  5.    ,   0.76  ,   1.018 , ...,   4.6   ,   1.9   ,
          10.    ],
        [  5.    ,   0.78  ,   1.0239, ...,   1.4   ,   0.5   ,
           3.7   ],
        [  4.    ,   0.67  ,   1.017 , ...,   3.8   ,   1.    ,
           5.4   ],
        ...,
        [  8.    ,   0.87  ,   1.0436, ..., -14.7   , -19.    ,
         -10.4   ],
        [  7.    ,   0.98  ,   1.0076, ...,  -0.3   ,  -1.3   ,
           1.5   ],
        [  7.    ,   0.86  ,   1.0111, ...,   9.1   ,   7.4   ,
          11.3   ]],

       [[  7.    ,   0.74  ,   1.018 , ...,   7.1   ,   3.9   ,
          13.9   ],
        [  6.    ,   0.66  ,   1.0104, ...,  12.8   ,   8.    ,
          17.4   ],
        [  7.    ,   0.57  ,   1.0094, ...,  13.1   ,   8.7   ,
          17.3   ],
        ...,
        [  5.    ,   0.89  ,   1.0283, ...,  -8.5   , -11.9   ,
          -5.    ],
        [  8.    ,   0.75  ,   1.0205, ...,   3.6   ,  -0.6   ,
           6.8   ],
        [  5.    ,   0.67  ,   1.0245, ...,   9.1   ,   7.2   ,
          11.    ]],

       ...,

       [[  7.    ,   0.73  ,   1.0171, ...,   4.1   ,   2.5   ,
           5.9   ],
        [  8.    ,   0.73  ,   1.0173, ...,   4.3   ,   2.    ,
           9.9   ],
        [  8.    ,   0.78  ,   1.0206, ...,  -1.9   ,  -3.1   ,
          -0.9   ],
        ...,
        [  7.    ,   0.98  ,   1.0317, ..., -12.2   , -14.5   ,
          -9.8   ],
        [  8.    ,   0.77  ,   1.0192, ...,  -2.5   ,  -3.6   ,
           0.6   ],
        [  6.    ,   0.79  ,   0.9972, ...,   7.4   ,   5.9   ,
          12.8   ]],

       [[  1.    ,   0.63  ,   1.0207, ...,  22.5   ,  16.6   ,
          27.9   ],
        [  8.    ,   0.69  ,   1.0155, ...,  21.7   ,  18.9   ,
          25.2   ],
        [  3.    ,   0.59  ,   1.0157, ...,  22.2   ,  17.4   ,
          26.7   ],
        ...,
        [  8.    ,   1.    ,   1.0327, ...,   2.8   ,   1.7   ,
           3.8   ],
        [  1.    ,   0.5   ,   1.0215, ...,  21.5   ,  16.2   ,
          27.5   ],
        [  6.    ,   0.75  ,   1.0241, ...,  17.6   ,  15.2   ,
          20.1   ]],

       [[  3.    ,   0.64  ,   1.018 , ...,  24.3   ,  15.2   ,
          31.7   ],
        [  1.    ,   0.56  ,   1.0206, ...,  24.6   ,  16.3   ,
          31.6   ],
        [  4.    ,   0.67  ,   1.017 , ...,  25.4   ,  17.1   ,
          32.5   ],
        ...,
        [  3.    ,   0.75  ,   1.0336, ...,   6.7   ,   5.2   ,
           8.2   ],
        [  4.    ,   0.56  ,   1.0177, ...,  15.6   ,   9.8   ,
          22.4   ],
        [  7.    ,   0.84  ,   1.0037, ...,  13.6   ,  11.5   ,
          15.8   ]]])

In [28]:
# Print number of cities in X_train data set.

len(X_train[0])

15

In [30]:
# Print number of weather observations in X_train data set.

len(X_train[0][0])

9

In [31]:
# Create CNN Keras layered model.

epochs = 2
batch_size = 4
n_hidden = 2

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='softmax'))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/layers/convolutional/base_conv.py:107: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [32]:
# Compile model.

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [33]:
# Run model.

model.fit(X_train,y_train,batch_size=batch_size, epochs=epochs,verbose=0)
acc = model.evaluate(X_train,y_train)
print('Loss:', acc[0], 'Accuracy', acc[1])

503/503 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.0371 - loss: 39.9032
Loss: 40.172054290771484 Accuracy 0.03853096812963486

In [37]:
model.predict(X_test)[0]

  1/216 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step

216/216 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step

array([4.9767308e-02, 1.9957963e-01, 2.2144775e-01, 3.6653582e-02,
       6.7165725e-02, 5.9900906e-02, 4.4584940e-09, 1.2201920e-01,
       4.0867571e-02, 1.8502088e-01, 1.7577460e-02, 3.7238593e-10,
       0.0000000e+00, 5.1719433e-09, 0.0000000e+00], dtype=float32)

### 6. Create a confusion matrix of results.

In [ ]:
# Define cities.

cities = [
    "Basel",
    "Belgrade",
    "Budapest",
    "Debilt",
    "Dusseldorf",
    "Heathrow",
    "Kassel",
    "Ljubljana",
    "Maastricht",
    "Madrid",
    "Munchen",
    "Oslo",
    "Sonnblick",
    "Stockholm",
    "Valentia"
]

In [38]:
np.argmax(y_test, axis=1)

array([0, 0, 1, ..., 0, 0, 5])

In [42]:
len(np.argmax(y_test, axis=1))

6885

In [39]:
y_pred = model.predict(X_test)

216/216 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step

In [40]:
y1 = [np.round(x) for x in y_pred[0]]

In [41]:
y1

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [45]:
y2 = [np.round(x) for x in y_test[-1]]

In [46]:
y2

[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [ ]:
# Define confusion matrix to see results.

def confusion_matrix(Y_true, Y_pred):
    Y_true = pd.Series([cities[y] for y in np.argmax(Y_true, axis=1)])
    Y_pred = pd.Series([cities[y] for y in np.argmax(Y_pred, axis=1)])

    return pd.crosstab(Y_true, Y_pred, rownames=['True'], colnames=['Pred'])

In [ ]:
# Print results.

print(confusion_matrix(y_test, model.predict(X_test)))

216/216 ━━━━━━━━━━━━━━━━━━━━ 0s 381us/step
Pred        Basel  Belgrade  Debilt  Dusseldorf  Heathrow  Kassel  Ljubljana  \
True
Basel           8       109     260          45       100      21          2
Belgrade        0        60      11           0        24       0          0
Budapest        0        11       4           0         4       0          0
Debilt          0         1       1           0         7       0          0
Dusseldorf      0         0       0           0         2       0          0
Heathrow        0         0       0           0        12       0          0
Kassel          0         1       0           0         0       0          0
Ljubljana       0         4       0           0         0       0          0
Maastricht      0         0       0           0         1       0          0
Madrid          0         8      27           0        34       0          0
Munchen         0         1       0           0         0       0          0
Oslo            0         0       0           0         0       0          0
Stockholm       0         0       0           0         0       0          0
Valentia        0         0       0           0         0       0          0

Pred        Maastricht  Madrid  Munchen  Oslo  Sonnblick  Stockholm  Valentia
True
Basel                1     166     3385   203          5          7        35
Belgrade             0      14     1239     9          0          0         0
Budapest             0       2      237     1          0          0         0
Debilt               0       1       85     1          0          0         0
Dusseldorf           0       0       39     2          0          0         0
Heathrow             0       3      103     1          0          0         0
Kassel               0       0       23     0          0          0         0
Ljubljana            0       3       68     0          0          0         0
Maastricht           0       0        6     0          0          0         0
Madrid               0      49      397    20          0          0         0
Munchen              0       0       10     0          0          0         0
Oslo                 0       0        9     0          0          0         0
Stockholm            0       0        1     0          0          0         0
Valentia             0       0        2     0          0          0         0

### 7. Rinse and repeat with a second Keras layered model and confusion matrix.

In [ ]:
# Create CNN Keras layered model.

epochs = 12
batch_size = 8
n_hidden = 4

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='softmax'))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/layers/convolutional/base_conv.py:107: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
# Compile model.

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Run model.

model.fit(X_train,y_train,batch_size=batch_size, epochs=epochs,verbose=0)
acc = model.evaluate(X_train,y_train)
print('Loss:', acc[0], 'Accuracy', acc[1])

503/503 ━━━━━━━━━━━━━━━━━━━━ 0s 293us/step - accuracy: 0.1559 - loss: 3547536.5000
Loss: 3620203.25 Accuracy 0.15331466495990753

In [ ]:
# Print confusion matrix results.

print(confusion_matrix(y_test, model.predict(X_test)))

216/216 ━━━━━━━━━━━━━━━━━━━━ 0s 289us/step
Pred        Basel  Belgrade  Debilt  Dusseldorf  Heathrow  Kassel  Ljubljana  \
True
Basel         757       565      36         857       606      47         18
Belgrade      418       121       0         441       204       0         11
Budapest       76        18       0          64        63       0          1
Debilt         12         0       0          44        29       0          0
Dusseldorf     10         0       0          12        15       0          0
Heathrow       25         0       0          27        61       0          1
Kassel          7         0       0          11         2       0          0
Ljubljana      26         6       0          11        14       0          5
Maastricht      2         0       0           2         3       0          0
Madrid        217        21       0          40       175       0          3
Munchen         5         4       0           0         0       0          0
Oslo            4         0       0           0         4       0          0
Stockholm       0         0       0           0         0       0          0
Valentia        0         1       0           0         1       0          0

Pred        Maastricht  Madrid  Munchen  Oslo  Sonnblick  Stockholm  Valentia
True
Basel              726     112      329   222         18          9        45
Belgrade            16       4      132     4          0          6         0
Budapest             0       1       32     3          0          1         0
Debilt               0       0        8     1          0          2         0
Dusseldorf           0       0        4     2          0          0         0
Heathrow             0       0        4     1          0          0         0
Kassel               0       0        4     0          0          0         0
Ljubljana            0       2       11     0          0          0         0
Maastricht           0       0        0     0          0          0         0
Madrid              20      22       22    15          0          0         0
Munchen              0       0        2     0          0          0         0
Oslo                 0       0        1     0          0          0         0
Stockholm            0       0        1     0          0          0         0
Valentia             0       0        0     0          0          0         0

### 8. One more time!

In [ ]:
# Create CNN Keras layered model.

epochs = 24
batch_size = 16
n_hidden = 8

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='softmax'))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/layers/convolutional/base_conv.py:107: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
# Compile model.

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Run model.

model.fit(X_train,y_train,batch_size=batch_size, epochs=epochs,verbose=0)
acc = model.evaluate(X_train,y_train)
print('Loss:', acc[0], 'Accuracy', acc[1])

503/503 ━━━━━━━━━━━━━━━━━━━━ 0s 286us/step - accuracy: 0.1728 - loss: 9552909.0000
Loss: 9751701.0 Accuracy 0.1746654212474823

In [ ]:
# Print confusion matrix results.

print(confusion_matrix(y_test, model.predict(X_test)))

216/216 ━━━━━━━━━━━━━━━━━━━━ 0s 392us/step
Pred        Belgrade  Debilt  Dusseldorf  Kassel  Ljubljana  Maastricht  \
True
Basel           1926      26         691      46        303         122
Belgrade         999       3          30       1          2          34
Budapest         172       0           4       0          0           9
Debilt            55       0           2       0          0           6
Dusseldorf        19       0           2       0          0           2
Heathrow          31       0           9       2          1          10
Kassel            18       1           0       0          0           1
Ljubljana         35       0           1       0          5           1
Maastricht         1       0           2       0          0           1
Madrid           130       3          55      11         29          36
Munchen           10       0           1       0          0           0
Oslo               7       0           0       0          0           0
Stockholm          1       0           0       0          0           0
Valentia           1       0           1       0          0           0

Pred        Madrid  Munchen  Oslo  Sonnblick  Stockholm  Valentia
True
Basel          752       19    30          2        393        37
Belgrade       139        0     2          0        147         0
Budapest        34        0     1          0         39         0
Debilt           7        0     0          0         26         0
Dusseldorf       9        0     0          0         11         0
Heathrow        39        0     0          0         27         0
Kassel           1        0     0          0          3         0
Ljubljana       23        0     0          0         10         0
Maastricht       2        0     0          0          1         0
Madrid         186        0     3          0         82         0
Munchen          0        0     0          0          0         0
Oslo             1        0     0          0          1         0
Stockholm        0        0     0          0          0         0
Valentia         0        0     0          0          0         0